.btn-space {
    margin-right: 5px;
}
.navbar-manu {
    margin-left: 259%;
    font-size: 128%;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
    margin-left: 47%;
}
.navbar {
    
    background-color: #e20a0a;

}
.navbarmanu {
    
    color: white;

}
.navbar-light .navbar-nav .nav-link {
    color: white;
}